<%- include("header") -%>

<form action="/file/<%= folderID %>" method="post" encType="multipart/form-data">
    Upload File <input type="file" name="file">
    <button type="submit">Upload</button>
</form>
<ul>
    <%  files.forEach(file => {%>
    <li><a href="/file/<%= file.id + file.name %>"> <%= file.name %></a> ...
        <a href="/deletefile/<%= file.id%>"> delete </a>
    </li>
    <% });%>
</ul>


<%- include("footer") -%>